<h2>Checkout</h2>

<container>
  {{#each this.model as |productItem|}}
    <CheckoutList @product={{productItem}} />
  {{/each}}
  
  <button {{action 'getSubTotals'}} type="button">
  Calculate Total Amount
  </button>
  <div>TOTAL: {{subTotalCheckout}} </div>

  {{#link-to "products" class="button"}}
    Products
  {{/link-to}}
</container>

{{outlet}}