<h2>Available products</h2>

<container>
  {{#each this.model as |productItem|}}
    <ProductList @product={{productItem}}/>
  {{/each}}
  {{#link-to "checkout" class="button"}}
    Checkout
  {{/link-to}}
</container>

{{outlet}}